<!DOCTYPE html>
<h1 style="text-align:center">You Made it!!<h1>

<h2 style="text-align:center">What would you like to do?</h2>

<p>Start your collection of characters and create a new one <a href="/characters/new">Here.</a></p>

<p>View all your characters <a href="/characters">Here.</a></p>

<p>Get inspiration and see everyone's characters! <a href="/world_characters">Peep them here.</a></p>