<!DOCTYPE html>
<h1>Let's Get You Signed Up</h1>
<p><%= @error %></p>
<form action="/signup" method="post">
    <label>Choose Username</label>
    <input type="text" name="username">
    <label>Choose Password</label>
    <input type="password" name="password"><br> <br>
    <input type="submit" value="Create Account">
</form>