<!DOCTYPE html>
<h1 style="text-align:center">Welcome to Party In The DnD!</h1>
<h2 style="text-align:center"> Let's start your adventure!</h2>

<p style="text-align:center">Have all your Playable and Nonplayble characters in one place.</p>
<p style="text-align:center">Already have an account? Lets <a href="/login">Log In</a></p>
<p style="text-align:center">Don't have an account? Lets get you <a href="/signup">Signed Up</a><p>
